/*! == GLOBAL == */
html {
    font-size: rem-calc(16);
}

html,
body {
    min-height: 100vh;
    margin:0;
    padding: 0;
}

body {
background: white;
font-family: $body-font;
font-size: rem-calc(16);
font-weight:300;
color: hsl(69, 2%, 31%);
}

p {
    font-weight: 300;
    line-height:1.9;
}

strong {
    font-weight: 600;    
}

em {
  font-style: italic; 
}

a {
    color: $brand-secondary;
    transition:color 0.3s ease;
    &:hover {
        text-decoration: none;
        color: $brand-dark-grey;
    }  
}

img {
    max-width: 100%;
}

.heading {
    font-weight: 400;
    
    &__caps {
        text-transform: uppercase;
        letter-spacing: 0.15em;          
    }
    
    &__light {
        color: white;
    }
    
    &__alt-color {
      color: $brand-secondary;
    }

    &__tertiary-color {
      color: $brand-tertiary;
    }

    &__alt-color-grey {
      color: $brand-dark-grey;
    }

    &__alt-font {
      font-family: $brand-font;
      letter-spacing: 0.02em;      
    }
    
    &__xl {
        font-size: 3em;
    }
    
    &__lg {      
        font-size: 2em;
    }  
    
    &__md {
        font-size: 1.5em;        
    }   
    
    &__sm {
        font-size: 1em;        
    }
    
    &__xs {
        font-size: 0.75em;        
    }   
    
    &__bold {
        font-weight: 900;
    } 
}

.vertical-center {
    align-self: center;
}

.text-center {
  width: 100%;
  text-align: center;
}


/*===========HEADER==========*/

.site-wrapper {
    position: relative;
}

header {
    position: fixed;
    display: grid;
    width: 100%;
    z-index: 1000;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: $supporting-font;
    z-index: 502;  
    color: white;
    background-color:transparent;
    display: flex;
    align-items: center;
    transition: $fastEffect;
    padding-top:0.5em;
    padding-bottom:0.5em;
    .brand {
        font-family: $brand-font;
        
        a {
            letter-spacing: 1px;
            color: white;
        }
    }
    .nav-logo{
        svg{
            max-height: rem-calc(110);
            padding-top:2em;
            padding-bottom:2em;
            transition: $fastEffect;
            .cls-2{
                fill:white;
            }
        }
    }
}

.scrolled nav {
    background-color:$brand-primary;
    padding-top:0.5em;
    padding-bottom:0.5em;
    .nav-logo{
        svg{
            max-height: rem-calc(50);
            padding-top:0.5em;
            padding-bottom:0.5em;
            transition: $fastEffect;
        }
    }
}

.nav-wrapper {
  position: relative;
  &__trigger {
    position: absolute;
    top:-40px;
  }

  &__menu {

  ul {
    list-style-type: none;

    li {
        display: inline-block;
      a {
        font-family: $brand-font;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        margin-right:3em;
        transition:$fastEffect;
        &:hover{
            opacity: .8;
            transition: $fastEffect;
        }
      }
    }
  }
  }
}

.scrolled {
    .header-inner {
        border-bottom: 1px solid $brand-secondary;        
    }
}

/*===========BODY==========*/



/*===========FOOTER==========*/


.socket {
    width:100%;
    padding: 2em;
    font-size: rem-calc(12);
    background:$brand-dark;
    color: white;
    
    a {
        color: white;
    }
    
    i {
      margin-right: 1em;
      font-size:rem-calc(20);
    }
        
    &__colophon {
      text-align: right;
      a {
        margin-left:0.5em;
        padding-left:0.5em;
        border-left: 1px solid white;
        color: white;
        &:first-of-type{
            border-left:none;
        }
      }
    }
  }
