/*! == VARIABLES == */

$brand-primary: hsl(245, 9%, 27%);
$brand-secondary: hsl(105, 5%, 46%);
$brand-tertiary: hsl(43, 12%, 67%);
$brand-light-grey: hsl(0, 0%, 89%);
$brand-dark-grey: hsl(212, 15%, 36%);

$brand-dark: hsl(247, 9%, 19%);

$brand-font: 'Lato', cursive;
$body-font: 'Muli', serif;
$supporting-font: 'Lato', sans-serif;

$fastEffect: all .3s ease;
$slowEffect: all 1s ease;
